.log {
  color: #888585;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
  text-align: start;
  font-weight: bold;
}
.container {
  width: 55%;
  height: 50%;
}
.btn {
  background-color: #fb7300;
  color: #ffffff;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#username {
  padding: 2%;
}
#email {
  padding: 2%;
}
#password {
  padding: 2%;
}
