<!-- <div class ="container-fluid">
    <div class="row">
        <div class="col-12 md-3">

        </div>

    </div>

</div> -->
<!-- <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="model.name" name="name">
  </div> -->
<div class="container justify-content-center">
    <div class="col-md-4 py-5">
        <h4 class="log">Login to your account</h4>

    </div>

    <form  action="" name ="loginform" novalidate class="ng-pristine ng-invalid ng-touched">
        <div class="form-group">
            <label for="username">User Name</label>
            <span ng-show ="loginform.username.$dirty && loginform.username.$invalid"></span>
            <input type="text" name="username" id="username" ng-model="Username" placeholder="Your username" required class="form-control ng-pristine ng-invalid ng-touched">
            <mat-error *ngIf="username.invalid" class="mat-error ng-star-inserted" aria-live="polite" aria-atomic="true" id="mat-error-1">
                {{getErrorMessage1()}}
            </mat-error>
            <br>
        </div>
       
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" ng-model="Email" id="email" placeholder="Your Email" required class="form-control ng-pristine ng-invalid ng-touched"> 
            <mat-error *ngIf="email.invalid" class="mat-error ng-star-inserted" aria-live="polite" aria-atomic="true" id="mat-error-0">
                {{getErrorMessage()}}
            </mat-error>
            <br>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="Password" placeholder="Your Password" required class="form-control ng-pristine ng-invalid ng-touched"> 
            <mat-error *ngIf="password.invalid" class="mat-error ng-star-inserted" aria-live="polite" aria-atomic="true" id="mat-error-0">
                {{getErrorMessage2()}}
            </mat-error>  
            <br>
        </div>

        
        <button ng-disabled="loginform.$invalid" onclick="alert('OK');" class=".btn.btn-primary btn" style="width: 100%;">Login to your account</button>
        
    </form>
</div>  

